.app {
    display: flex;
    max-height: 100vh;
}

body{
    max-height: 100vh;
}

.channel_search{
    padding: 0.5rem;
    padding-left: calc(0.5rem + 15px);
    padding-right: calc(1rem + 15px);
    background-color: #f2f3f5;
}

.channel_search input{
    padding: 0.25rem;
    color: #6a7480;
    width: 100%;
    font-size: 1rem;
}

.sidebar_channelsList{
    background-color: #f2f3f5;
    overflow-y: auto;
    height: calc(100vh - 66px - 44px - 46px - 89px - 89px);
}